<%= link_to "これ食べたい！！！", new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog_path(blog.id) %>
      <%= "仮置き" %>
      <%= link_to "[x]", blog_path(blog.id), method: :delete %>
    </div>
  <% end %>
<% end %>
