<div class="main">
  <div class="inner">
    <div class="form_wrapper">
<%= link_to "リクエスト", new_blog_path, class: :blogs_request %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog_path(blog.id) %>
      <%= "仮置き" %>
      <%= link_to "[x]", blog_path(blog.id), method: :delete %>
    </div>
  <% end %>
<% end %>
</div>
  </div>
</div>  
