<%= form_with model: @recipe, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "ðŸ½æ–™ç†å", class: :recipe_form_title %><br />
    <%= f.text_field :title, class: :form_title, id: "recipe_title" %>
  </div>

  <div class="field">
    <%= f.label :cooking_recipe, "ðŸ³èª¿ç†æ³•", class: :recipe_form_cooking %><br _>
    <%= f.text_area :cooking_recipe, class: :form_cooking, id: "cooking_recipe" %>
  </div>
  
  <div class="field">
    <%= f.label :image, "ðŸ“·æ–™ç†ã®å†™çœŸ", class: :recipe_form_image %><br _>
    <%= f.file_field :image, class: :recipe_form_img ,id: "cooking_recipe_image" %>
  </div>

  <div class="actions">
    <%= f.submit "ä¿å­˜ã™ã‚‹", class: :form_btn %>
  </div>
<% end %>    
  