<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "ðŸŽµãƒ­ã‚°ã‚¤ãƒ³ä¸­ðŸŽµ" %>
        <%= link_to "#{current_user.name}ã•ã‚“", user_path(current_user.id), class: :greeting_link %>
      </div>
    <% end %>
    <%= form_with(url: search_recipe_path(@recipes), local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ãƒ¬ã‚·ãƒ”ã‚’æ¤œç´¢ã™ã‚‹", class: "search-input" %>
      <%= form.submit "æ¤œç´¢", class: "search-btn" %>
    <% end %>
    <div class="card_wrapper">
      <%= render partial: "recipe", collection: @recipes %>
    </div>
  </div>
</main>  