<main class="main">
  <div class="inner">
    <div class="recipe_wrapper">
      <p class="recipe_hedding">
        <%= @recipe.title %>
      </p>
      <%= link_to "#{@recipe.user.name}", recipe_path(@recipe.user.id) , class: :recipe_user %>
      <div class="recipe_manage">
        <% if @recipe.user_id == current_user.id %>
          <%= link_to "編集", root_path, class: :recipe_btn %>
          <%= link_to "削除", root_path, method: :delete, class: :recipe_btn %>
        <% end %>
      </div>
      <div class="recipe_image">
        <%= image_tag @recipe.image %>
      </div>
      <%# 後ほどパス変更 %>

      <div class="recipe_body">
        <div class="recipe_detail" >
          <p class="detail_title">調理法</p>
          <p class="detail_message">
            <%= @recipe.cooking_recipe %>
        </div>
      </div>            